<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="CSNodeMsPassportSetup" Language="1033" Version="1.0.0.0" Manufacturer="MarkusJx" UpgradeCode="30791381-d1fb-4397-96f8-345e6484fd9a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="ProductDirectory" Name="CSNodeMsPassportInstaller">
          <Directory Id="GAC" Name="GAC"/>
        </Directory>
      </Directory>
      <?else ?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProductDirectory" Name="CSNodeMsPassportInstaller">
          <Directory Id="GAC" Name="GAC"/>
        </Directory>
      </Directory>
      <?endif ?>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <?if $(var.Platform) = x64 ?>
      <Component Id='DataLibraryGAC' Directory="GAC" Guid='3aa89948-91ee-4db3-9868-ecb6bced16aa' Win64="yes">
        <File Id='DataDLLGAC' Name='CSNodeMsPassport.dll' Source='..\..\..\..\x64\Release\CSNodeMsPassport.dll' KeyPath="yes" Assembly=".net"/>
      </Component>
      <?else ?>
      <Component Id='DataLibraryGAC' Directory="GAC" Guid='e358e73a-bb75-4944-a17e-23fa0fa0832b' Win64="no">
        <File Id='DataDLLGAC' Name='CSNodeMsPassport.dll' Source='..\..\..\Release\CSNodeMsPassport.dll' KeyPath="yes" Assembly=".net"/>
      </Component>
      <?endif ?>

    </ComponentGroup>
  </Fragment>
</Wix>
